@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    font-size: 19px;
    cursor: pointer;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
} 

li:hover {
    color: red;
}

#logo {
    width: 150px;
    height: auto;
}